
{@layout path="catalog" theme="red"  /}

{<content}


<footer id="footerWrapper" class="footer2">
 {@query type="custom:custom:ukhefooter" }
                    {#rows}
				    <section class="boxContent">
                         <h3>{title}</h3>
						<h5>{description}</h5>
                    </section>
					{/rows}
                    {/query}
    <section id="footerRights">
        <div class="container">
            <div class="row">
				
                <div class="col-md-12">
					<h1>UKHE Footer</h1>
                </div>
                <div class="col-md-12">
                    <p>Copyright © 2016 UKHE All rights reserved.</p>
                </div>

            </div>
        </div>
    </section>
</footer>


{/content}